/* =====GENERAL CSS=====*/

input[type="text"],
#hobby_input {
  width: 100%;
  height: 38px;
  height: 38px;
  padding-left: 8px;
  border: none;
  border-radius: 5px;
  margin: 5px 0px;
  outline: 1px solid greenyellow;
}

input[type="radio"] {
  cursor: pointer;
}

#hobby_input {
  width: 82%;
}

button {
  height: 38px;
  padding: 3px 8px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  margin-left: 20px;
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  height: 38px;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

b {
  font-size: 20px;
}

/* =====GENERAL CSS=====*/

.form_wrapper {
  border: 1px solid red;
  padding: 50px;
  margin: 60px auto;
  width: 30rem;
  position: relative;
  z-index: 1000 !important;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main_wrapper {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: #85ffbd; */
  /* background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%); */
}

.dark_mode {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to top,
    #0d103e,
    #190a05
  ); /* Chrome 10-25, Safari 5.1-6 */

  color: white;
}

.top_empty_div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #4158d0;
  position: absolute;
  left: 940px;
  top: 40px;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.bottom_empty_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 480px;
  top: 520px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.submit_btn {
  width: 100%;
  margin: 10px 0px;
}

.darkmode_btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: 85%;
  left: 85%;
  cursor: pointer;
}

.wrapper_radio_btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.error_message {
  color: red;
  font-size: 12px;
}

.hobby_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus_button{
    width: 33px;
    height: 33px;
    font-size: 16px;
    border-radius: 50%;
}
/*==== i pad mini ====*/
@media (max-width: 769px) {
  .main_wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 250px;
  }

  .dark_mode {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 250px;
  }

  .form_wrapper {
    padding: 50px;
    margin: 0px auto;
    width: 30rem;
    z-index: 1000;
  }

  .top_empty_div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 520px;
    top: 190px;
  }
  .bottom_empty_div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 650px;
  }
  .darkmode_btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 00px;
  }
}

/* i phone SE */
@media (max-width: 376px) {
  .main_wrapper {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .dark_mode {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 10px;
  }

  #hobby_input {
    width: 80%;
  }

  .form_wrapper {
    padding: 15px;
    margin: 150px auto;
    width: 95%;
  }

  .top_empty_div {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 250px;
    top: 80px;
  }
  .bottom_empty_div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 480px;
  }
  .darkmode_btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
